
.DS_Store
.deploy
.deployFromMac
.remote-sync.json
public/gradle-4.2-src.zip
public/gradle-4.2-all.zip
public/gradle-2.14-all.zip
public/gradle-2.14.1-all.zip
public/gradle-3.0-all.zip
public/gradle-3.3-all.zip
