template(name="selectorPm")
    #itemsSelectors.itemsSelectors.row-fluid
        .span12
            form.form-inline
                .controls
                    label.hidden-xs.control-label(for='startDate') 开始日期：
                    .input-group
                        input.form-control.datepicker(type="text", name="startDate", value="#{startDate}")
                    select(name="weeks").hidden-xs.form-control
                        option(value="6")
                            |显示6周
                        option(value="8")
                            |显示8周
                        option(value="12")
                            |显示12周
                    label.control-label.hidden-xs ｜
                    //- label.control-label(for="subjects") 筛选：
                    //- label.checkbox-inline
                    //-     input(type="checkbox", name="subjects", value="yanfa", checked="")
                    //-     |研发
                    //- label.checkbox-inline
                    //-     input(type="checkbox", name="subjects", value="", checked="")
                    //-     |TODO
                    //- label.checkbox-inline
                    //-     input(type="checkbox", name="subjects", value="", checked="")
                    //-     |事件
                    //- .controls
                    //- label.control-label(for="catagories") 分类：
                    //- each pmCatagories
                    //-     label.checkbox-inline
                    //-         input(type="checkbox", name="catagories", value="#{t}", checked="#{isSelected}")
                    //-         |#{n}
                    
                    //- .controls
                        
                    label.control-label(for="viewCompleted") 已完成的：
                    label.radio-inline
                        input(type="radio", name="viewCompleted", value="0", checked="checked") 
                        |不显示
                    label.radio-inline
                        input(type="radio", name="viewCompleted", value="1") 
                        |显示
                    label.control-label ｜
                    label.control-label
                        a(href="{{pathFor 'pmNewProject'}}") 
                            span.glyphicon.glyphicon-plus 新建
                    label.control-label.hidden-xs ｜
                    label.control-label
                        a(href="{{pathFor 'pmPool'}}") 
                            span.glyphicon.glyphicon-time 待定池
                        
                    
                    //- .controls
                    //- label.control-label ｜
                    //- 
                    //- label.control-label(for="viewCheckPoins") 显示条目：
                    //- label.radio-inline
                    //-     input(type="radio", name="viewCheckPoins", value="0", checked="checked") 
                    //-     |只显示Deadline
                    //- label.radio-inline
                    //-     input(type="radio", name="viewCheckPoins", value="1") 
                    //-     |显示全部关键节点
